@import "settings/readthedocs";
@import "components/asciidoc";
@import "components/awesome-icons";
@import "fonts/roboto-slab";
@import "fonts/lato";
@import "fonts/inconsolata";

h4 {
  color: $subheader-font-color;
}

// TODO make pre-radius configurable
.literalblock,
.listingblock {
  > .content > pre {
    @include radius(6px);
    margin-left: 2em;
    margin-right: 2em;
  }
}

.admonitionblock {
  margin-left: 2em;
  margin-right: 2em;
  > table {
    border: 1px solid #609060;
    border-top-width: 1.5em;
    background-color: #e9ffe9;
    border-collapse: separate;
    @include radius(0);
    td.icon {
      padding-top: .5em;
      padding-bottom: .5em;
    }
    td.content {
      padding: .5em 1em;
      color: $body-font-color;
      font-size: .9em;
      border-left: none;
    }
  }
}

.sidebarblock {
  background-color: #e8ecef;
  border-color: #ccc;

  > .content > .title {
    color: $primary-color;
  }
}

table.tableblock.grid-all {
  border-collapse: collapse;
  @include radius(0);
  th.tableblock, td.tableblock {
    border-bottom: 1px solid #aaa;
  }
}

#footer {
  background-color: #465158;
  padding: 2em;
}

#footer-text {
  color: #eee;
  font-size: 0.8em;
  text-align: center;
}


#toc.toc2 {
  font-family: $toc-font-family;
  padding: 0;
  background: $toc-bg-color;

  #toctitle {
    padding: 1.6em 1em; 
    text-align: center;
    font-family: $toc-title-font-family;
    color: $toc-title-font-color;
    background: $toc-title-bg-color;
    &::before {
      vertical-align: middle;
      content: "\f02d";  
      content: "\f1b2";
      padding-right: 0.3em;
      margin-left: -1em;
      font-family: 'FontAwesome';
      font-size: 200%;
    }
  }

  a { 
    display: block;
    color: $toc-menu-font-color;
    padding: 0.25em 1em;
  }
  a:hover, a:focus {
    background: lighten($toc-bg-color, 20%);
  }
  ul {
    font-family: $toc-font-family;
    &.sectlevel1 {
      a {
        font-weight: bold;
        color: $toc-section-font-color;
      } 
      a:hover, a:focus {
        color: $toc-menu-font-color;
      }
    }
    &.sectlevel2, &.sectlevel3, &.sectlevel4, &.sectlevel5, &.sectlevel6 {
      padding: 0;
      a { 
        font-weight: normal;
        color: $toc-menu-font-color;
      }
    &.sectlevel2 a {
      padding-left: 2em;
    }
    &.sectlevel3 a {
      padding-left: 3em;
    }
    &.sectlevel4 a { 
      padding-left: 4em;
    }
    &.sectlevel5 a {
      padding-left: 5em;
    }
    &.sectlevel6 a {
      padding-left: 6em;
    }
    }
  }
}

:not(pre):not([class^="L"]) > code {
  font-size: 0.95em;
  font-style: normal !important;
  letter-spacing: 0;
  padding: 0px 4px;
  background-color: #f6f6f6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: inherit;
  border: solid #ddd7d7 1px;
  color: #e74c3c;
}

.admonitionblock {
  margin: 0;

  &.note > table {
    background-color: #e7f2fa;
    td.icon {
      background-color: darken(#e7f2fa, 40%);
      width: 100%;
      text-align: left;
      padding-left: 2em;
      i.icon-note {
        &::before {
          color: white;
        }
        &::after {
          color: white;
          content: "Note"; 
          padding-left: 1em;
          font-family: $body-font-family;
          font-size: 0.9em;
          font-weight: bold;
        }
      } 
    }
  }
  &.tip > table {
    background-color: #e9ffe9;
    td.icon {
      background-color: darken(#e9ffe9, 60%);
      width: 100%;
      text-align: left;
      padding-left: 2em;
      i.icon-tip {
        &::before {
          color: white;
        }
        &::after {
          color: white;
          content: "Tip";
          padding-left: 1em;
          font-family: $body-font-family;
          font-size: 0.9em;
          font-weight: bold;
        }
      } 
    }
  }
  &.caution > table {
    background-color: #ffe3ca;
    td.icon {
      background-color: darken(#ffe3ca, 40%);
      width: 100%;
      text-align: left;
      padding-left: 2em;
      i.icon-caution {
        &::before {
          color: white;
        }
        &::after {
          color: white;
          content: "Caution"; 
          padding-left: 1em;
          font-family: $body-font-family;
          font-size: 0.9em;
          font-weight: bold;
        }
      } 
    }
  }
  &.important> table {
    background-color: #ffd6ca;
    td.icon {
      background-color: darken(#ffd6ca, 40%);
      width: 100%;
      text-align: left;
      padding-left: 2em;
      i.icon-important {
        &::before {
          color: white;
        }
        &::after {
          color: white;
          content: "Important"; 
          padding-left: 1em;
          font-family: $body-font-family;
          font-size: 0.9em;
          font-weight: bold;
        }
      } 
    }
  }
  &.warning > table {
    background-color: #ffedcc;
    td.icon {
      background-color: darken(#ffedcc, 40%);
      width: 100%;
      text-align: left;
      padding-left: 2em;
      i.icon-warning {
        &::before {
          color: white;
        }
        &::after {
          color: white;
          content: "Warning"; 
          padding-left: 1em;
          font-family: $body-font-family;
          font-size: 0.9em;
          font-weight: bold;
        }
      } 
    }

  }
  > table {
    // border-radius: 6px;
    //border: solid 1px;
    border: none;
    td {
      display: inline-block;
      width: 100%;
      font-size: 8px;
    }
  }
}


.tableblock code {
  border: none;
}

.literalblock > .content > pre, 
.listingblock > .content > pre {
  margin: 0
}

.literalblock pre, 
.listingblock > .content > pre {
  background: #f8f8f8; 
}


@media #{$small} {
  #toc.toc2 {
    padding: 0;
    background: $toc-bg-color;
    #toctitle::before {
      margin-left: -0.5em;
    }
  }
}


